<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTS|Editor</title>

    <!-- Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- GrapesJs CDN -->
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script src="//unpkg.com/grapesjs"></script>

    <!-- GrapesJs CSS-->
    <link rel="stylesheet" href="{% static 'css/grapesJs_base.css' %}">

    <!-- GrapesJs Plugins -->
    <script src="https://unpkg.com/grapesjs-blocks-basic"></script> <!--Basic set of blocks-->
    <script src="https://unpkg.com/grapesjs-plugin-forms"></script> <!--Set of form components and blocks-->
    <script src="https://unpkg.com/grapesjs-navbar"></script> <!--Simple navbar component-->
    <script src="https://unpkg.com/grapesjs-style-filter"></script> <!--Style manager filter type-->
    <script src="{% static 'js/multiple_page.js' %}"></script>

    <!-- project manager cdn-->
    <link href="https://unpkg.com/grapesjs-project-manager/dist/grapesjs-project-manager.min.css" rel="stylesheet">
    <script src="https://unpkg.com/grapesjs-project-manager"></script>
    <style>
        /* Let's highlight canvas boundaries */
        #gjs {
            border: 3px solid #444;
        }
        
        /* Reset some default styling */
        .gjs-cv-canvas {
            top: 0;
            width: 100%;
            height: 100%;
        }
 
        .gjs-block {
            width: auto;
            height: auto;
            min-height: auto;
        }
    </style>

</head>
<body>

    <div class="container-fluid">
        <div class="panel__top">
            <div class="panel__basic-actions"></div>
            <div class="panel__devices"></div>
            <div class="panel__switcher"></div>
        </div>
        <div class="row g-0">
            <div class="col-md-2">
                <div id="blocks"></div>
            </div>
            <div  class="col-md-10 editor-row">
                <div class="editor-canvas">
                    <div id="gjs">
                        <h1>Start Your Webpage Design!!!</h1>
                    </div>
                </div>
                <div class="panel__right">
                    <div class="layers-container"></div>
                    <div class="styles-container"></div>
                    <div class="traits-container"></div>
                    <div class="templates-wrp"></div>
                </div>
            </div>
        </div> 
    </div>

    <script>
        const editor = grapesjs.init({
            // Indicate where to init the editor. You can also pass an HTMLElement
            container: '#gjs',
            // Get the content for the canvas directly from the element
            // As an alternative we could use: `components: '<h1>Hello World Component!</h1>'`,
            plugins: ["gjs-blocks-basic","grapesjs-plugin-forms", "grapesjs-navbar","grapesjs-style-filter", "grapesjs-project-manager", 'multiple-page-creator'],// adding the external custom blocks
            pluginsOpts:{'grapesjs-template-manager': {}},
            fromElement: true,
            // Size of the editor
            height: '90vh',
            width: 'auto',
            // Disable the storage manager for the moment
            storageManager: false,
            pageManager:true,

            blockManager: {
                appendTo: '#blocks',
                blocks: []
            },
            layerManager: {
                appendTo: '.layers-container'
            },
            selectorManager: {
                appendTo: '.styles-container'
            },
            traitManager: {
                appendTo: '.traits-container',
            },
            deviceManager: {
                devices: [{
                    name: 'Desktop',
                    width: '', // default size
                }, {
                    name: 'Mobile',
                    width: '320px', // this value will be used on canvas width
                    widthMedia: '480px', // this value will be used in CSS @media
                }]
            },
            styleManager: {
                appendTo: '.styles-container',
                sectors: [{
                    name: 'Dimension',
                    open: false,
                    // Use built-in properties
                    buildProps: ['width', 'min-height', 'padding'],
                    // Use `properties` to define/override single property
                    properties: [
                    {
                        // Type of the input,
                        // options: integer | radio | select | color | slider | file | composite | stack
                        type: 'integer',
                        name: 'The width', // Label for the property
                        property: 'width', // CSS property (if buildProps contains it will be extended)
                        units: ['px', '%'], // Units, available only for 'integer' types
                        defaults: 'auto', // Default value
                        min: 0, // Min value, available only for 'integer' types
                    }
                    ]
                },{
                    name: 'Extra',
                    open: false,
                    buildProps: ['background-color', 'box-shadow', 'custom-prop'],
                    properties: [
                    {
                        id: 'custom-prop',
                        name: 'Custom Label',
                        property: 'font-size',
                        type: 'select',
                        defaults: '32px',
                        // List of options, available only for 'select' and 'radio'  types
                        options: [
                        { value: '12px', name: 'Tiny' },
                        { value: '18px', name: 'Medium' },
                        { value: '32px', name: 'Big' },
                        ],
                    }
                    ]
                }]
            },

            panels: {
                defaults: [{
                id: 'layers',
                el: '.panel__right',
                // Make the panel resizable
                resizable: {
                    maxDim: 350,
                    minDim: 200,
                    tc: 0, // Top handler
                    cl: 1, // Left handler
                    cr: 0, // Right handler
                    bc: 0, // Bottom handler
                    // Being a flex child we need to change `flex-basis` property
                    // instead of the `width` (default)
                    keyWidth: 'flex-basis',
                },
                }, 
            ]
            },

            panels: {
                defaults: [
                // ...
                {
                    id: 'panel-switcher',
                    el: '.panel__switcher',
                    buttons: [{
                        id: 'show-layers',
                        active: true,
                        label: 'Layers',
                        command: 'show-layers',
                        // Once activated disable the possibility to turn it off
                        togglable: false,
                    }, {
                        id: 'show-style',
                        active: true,
                        label: 'Styles',
                        command: 'show-styles',
                        togglable: false,
                    },
                    {
                        id: 'show-traits',
                        active: true,
                        label: 'Traits',
                        command: 'show-traits',
                        togglable: false,
                    }],
                },
                {
                    id: 'panel-devices',
                    el: '.panel__devices',
                    buttons: [{
                        id: 'device-desktop',
                        label: 'D',
                        command: 'set-device-desktop',
                        active: true,
                        togglable: false,
                    }, {
                        id: 'device-mobile',
                        label: 'M',
                        command: 'set-device-mobile',
                        togglable: false,
                    }],
                },
                {
            id: 'options',
            el: '.templates-wrp', // Container element for the templates panel
            buttons: [
            {
                id: 'add-page',
                className: 'fa fa-plus',
                command: 'add-page',
                attributes: { title: 'Add Page' },
            },{
                id: 'remove-page',
                className: 'fa fa-minus',
                command: 'remove-page',
                attributes: { title: 'Remove Page' },
                

                }
            ],
        }
                ]
            },
        });

        // Code for top navbar
        editor.Panels.addPanel({
            id: 'panel-top',
            el: '.panel__top',
        });
        editor.Panels.addPanel({
            id: 'basic-actions',
            el: '.panel__basic-actions',
            buttons: [
                {
                id: 'visibility',
                active: true, // active by default
                className: 'btn-toggle-borders',
                label: 'Outline',
                command: 'sw-visibility', // Built-in command
                }, {
                id: 'export',
                className: 'btn-open-export',
                label: 'Exp',
                command: 'export-template',
                context: 'export-template', // For grouping context of buttons from the same panel
                }, {
                id: 'show-json',
                className: 'btn-show-json',
                label: 'JSON',
                context: 'show-json',
                command(editor) {
                    editor.Modal.setTitle('Components JSON')
                    .setContent(`<textarea style="width:100%; height: 250px;">
                        ${JSON.stringify(editor.getComponents())}
                    </textarea>`)
                    .open();
                },
                },
                
            ],
        });

        // editor.Panels.addPanel();

        // editor.Panels.addPanel({
        //     id: 'views',
        //     el: '.templates-wrp', // Container element for the templates panel
        //     buttons: [
        //     {
        //         id: 'open-pages',
        //         className: 'fa fa-file-o',
        //         attributes: {
        //             title: 'Take Screenshot'
        //         },
        //         command: 'open-pages',
        //         togglable: false
        //     }
        //     ],
        // });


        editor.on('run:export-template:before', opts => {
            console.log('Before the command run');
            if (0 /* some condition */) {
                opts.abort = 1;
            }
        });
        editor.on('run:export-template', () => console.log('After the command run'));
        editor.on('abort:export-template', () => console.log('Command aborted'));

        // Code for layers
        editor.Commands.add('show-layers', {
            getRowEl(editor) { return editor.getContainer().closest('.editor-row'); },
            getLayersEl(row) { return row.querySelector('.layers-container') },

            run(editor, sender) {
                const lmEl = this.getLayersEl(this.getRowEl(editor));
                lmEl.style.display = '';
            },
            stop(editor, sender) {
                const lmEl = this.getLayersEl(this.getRowEl(editor));
                lmEl.style.display = 'none';
            },
        });

        // Code for styles
        editor.Commands.add('show-styles', {
            getRowEl(editor) { return editor.getContainer().closest('.editor-row'); },
            getStyleEl(row) { return row.querySelector('.styles-container') },

            run(editor, sender) {
                const smEl = this.getStyleEl(this.getRowEl(editor));
                smEl.style.display = '';
            },
            stop(editor, sender) {
                const smEl = this.getStyleEl(this.getRowEl(editor));
                smEl.style.display = 'none';
            },
        });

        // Code for traits
        editor.Commands.add('show-traits', {
            getTraitsEl(editor) {
                const row = editor.getContainer().closest('.editor-row');
                return row.querySelector('.traits-container');
            },
            run(editor, sender) {
                this.getTraitsEl(editor).style.display = '';
            },
            stop(editor, sender) {
                this.getTraitsEl(editor).style.display = 'none';
            },
        });


        editor.Commands.add('add-page', {
            run: () => {
                // Logic to add a new page
                const newPage = editor.Pages.add({ name: 'New Page' });
                editor.set('selectedPage', newPage);
            },
        });
    
        editor.Commands.add('remove-page', {
            run: () => {
                // Logic to remove the selected page
                const selectedPage = editor.Pages.getSelected();
                editor.Pages.remove(selectedPage);
            },
        });


        // Code for Responsive Templates
        editor.Commands.add('set-device-desktop', {
            run: editor => editor.setDevice('Desktop')
        });

        editor.Commands.add('set-device-mobile', {
            run: editor => editor.setDevice('Mobile')
        });

        //Code for Style manager filter
        editor.StyleManager.addProperty('extra', { extend: 'filter' });
        editor.StyleManager.addProperty('extra', { extend: 'filter', property: 'backdrop-filter' });

        
    </script>
    
</body>
</html>