<style>
    .text-primary1{
    color: white ;
    background-image: -webkit-linear-gradient(0deg, #033e9c 34%, #2e7ae6 76%);
    -webkit-background-clip: text; 
    text-fill-color: transparent; 
    -webkit-text-fill-color: transparent;
    }
    p{
        color:black;
    }
        
</style>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<div class="container-fluid footer foot py-9 my-6 mb-0 wow bounceInUp text-center" style = "padding :1%;background-color:#f5f5dc;" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-18">
                <div class="footer-item">
                    <h1 class="text-primary1"  style="font-family:timesnewroman font-weight: bold;">WiseTechSource</h1>
                    <p class="lh-lg mb-4" style="font-family:Alegreya;font-size:19px;">We promise it will be worth the wait</p>
                    <div class="footer-icon d-flex justify-content-center">
                        <a href="{{excel_data.wiseLinkFooter}}" class="btn btn-primary btn-sm-square me-2 rounded-circle"  style="position: relative;"><i class="bi bi-link-45deg"></i></a>
                        <a href= "https://www.facebook.com/WiseTechSource" class="btn btn-primary btn-sm-square me-2 rounded-circle" style="position: relative;"><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-primary btn-sm-square me-2 rounded-circle" href="https://twitter.com/SourceWisetech"  style="position: relative;"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/wisetech-source-pvt-ltd/" class="btn btn-primary btn-sm-square me-2 rounded-circle"  style="position: relative;"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/wise_tech_source/" class="btn btn-primary btn-sm-square me-2 rounded-circle"  style="position: relative;"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 col-md-18">
                <div class="footer-item">
                    <h4 class="text-primary1" style="font-family:timesnewroman font-weight: bold;">Contact Us</h4>
                    <div class="d-flex flex-column align-items-start " style= "margin-left : 38%;font-family:Alegreya">
                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>xxxx</p>
                        <p><i class="fa fa-phone-alt text-primary me-2"></i>yyyy</p>
                        <p><i class="fas fa-envelope text-primary me-2"></i>zzzz</p>
                        <p><i class="fa fa-clock text-primary me-2"></i>zzzz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center;">Copyrights &#169;WiseTechSource. All Rights Reserved.</p>
</div>