<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTS | Editor</title>

    <!-- GrapesJs CDN (It's a webpage builder framework)-->
    <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
    <script src="//unpkg.com/grapesjs"></script>
    <!--
    If you need plugins, put them below the main grapesjs script
    <script src="/path/to/some/plugin.min.js"></script
    -->

    <!-- tail wind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        /* Let's highlight canvas boundaries */
        #gjs {
        border: 3px solid #444;
        background-color: black;
        }

        /* Reset some default styling */
        .gjs-cv-canvas {
        top: 0;
        width: 100%;
        height: 100%;
        }
    </style>
</head>
<body>
    {% block content%}
    {% endblock %}
</body>
</html>